array:
  geometry: ULA
  Nt: 64
  Nr: 64
  L_ap_m: 0.03
  theta_0_deg: 5.0
channel:
  f_c_hz: 140000000000.0
  B_hz: 2000000000.0
  c_mps: 299792458.0
hardware:
  gamma_pa_floor: 0.005
  papr_db: 0.1
  ibo_db: 0.5
  gamma_adc_bits: 10
  gamma_iq_irr_dbc: -30.0
  gamma_lo_jitter_s: 2.0e-14
  rho_q_bits: 4
  rho_a_error_rms: 0.02
platform:
  sigma_theta_rad: 1.0e-06
pn_model:
  S_phi_c_model_type: Wiener
  S_phi_c_K2: 200.0
  S_phi_c_K0: 1.0e-15
  B_loop_hz: 1000000.0
  H_err_model_type: FirstOrderHPF
  sigma_rel_sq_rad2: 0.01
isac_model:
  alpha: 0.1
  alpha_TTD: 0.01
  L_TTD_db: 2.0
  C_PN: 0.001
  C_DSE: 1.0e-09
waveform:
  S_RSM_path: null
  Phi_q: 0.1
simulation:
  N: 2048
  FIM_MODE: Whittle-ExactDoppler
  SNR0_db_vec:
  - -20
  - -10
  - 0
  - 10
  - 20
  - 30
  - 40
  - 50
outputs:
  save_path: ./results/
  table_prefix: DR08_improved
  figure_path: ./figures/
