seed: 42
array:
  geometry: ULA
  Nt: 64
  Nr: 64
  L_ap_m: 0.05
  theta_0_deg: 15.0
channel:
  f_c_hz: 140000000000.0
  B_hz: 5000000000.0
  c_mps: 299792458.0
hardware:
  gamma_pa_floor: 0.005
  gamma_adc_bits: 6
  gamma_iq_irr_dbc: -30.0
  gamma_lo_jitter_s: 5.0e-14
  rho_q_bits: 4
  rho_a_error_rms: 0.02
  papr_db: 0.1
  ibo_db: 0.5
platform:
  sigma_theta_rad: 1.0e-06
pn_model:
  S_phi_c_model_type: Wiener
  S_phi_c_K2: 200.0
  S_phi_c_K0: 1.0e-15
  B_loop_hz: 1000000.0
  H_err_model_type: FirstOrderHPF
  sigma_rel_sq_rad2: 0.01
isac_model:
  alpha: 0.05
  alpha_TTD: 0.01
  L_TTD_db: 2.0
  C_PN: 0.001
  C_DSE: 1.0e-09
waveform:
  S_RSM_path: null
  Phi_q: 0.0
simulation:
  N: 2048
  FIM_MODE: Whittle
  SNR0_db_vec:
  - 10
  - 20
  - 30
  - 40
  - 50
  SNR_ref_db: 30.0
  alpha_vec:
  - 0.01
  - 0.02
  - 0.03
  - 0.05
  - 0.07
  - 0.1
  - 0.15
  - 0.2
outputs:
  save_path: /mnt/user-data/outputs/
  table_prefix: DR08_results
